.alert.no-radus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.login-box {
    margin-bottom: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35);
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}
form {
    padding: 10px 8px 10px 8px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}