<div class="wrap">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" [(ngModel)]="userInput.userName" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" [(ngModel)]="userInput.password" [ngModelOptions]="{standalone: true}" placeholder="Password">
        </div>
        <div class="btn-wrapper">
            <button type="submit" class="btn btn-primary" (click)="sign()">Sign Up</button>
        </div>
    </form>
</div>